/*-----------------------------------*\
  #DESIGNS
\*-----------------------------------*/

.design {
  width: 100%;
  max-width: 1200px; /* Adjust based on your layout */
  margin: auto;
}

.design-container {
  position: relative;
  display: flex;
  align-items: flex-start; /* Aligns items at the top */
  justify-content: space-between;
  gap: 20px;
  flex-direction: row;
}

.design-faucethead, .design-bidet {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column; /* Stacks images vertically */
  align-items: center; /* Centers images */
  gap: 20px; /* Adds space between images */
}

.design-faucethead img, .design-bidet img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: top 0.2s ease-out; /* Smooth animation */
}

.animated-faucethead, .animated-bidet {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: top 0.2s ease-out; /* Smooth animation */
}


.design-content {
  flex: 1; /* Takes 50% width */
  max-width: 50%;
}

.design-title {
  margin: 0;
}

.design-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}
